.card-text {
    font-size: 14px;
}

.card-title {
    font-size: 18px;
}

.modal-dialog {
    margin-top: 200px;
}

.form-container {
    max-width: 400px; /* Réduis la taille maximale du formulaire */
    margin: auto;
    position: absolute;
    top: 50%; /* Centrage vertical */
    left: 50%; /* Centrage horizontal */
    transform: translate(-50%, -50%); /* Centrage fin */
}


/* styles.css */

/* Styling les cartes de disques */
.disc-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    background-color: #f8f9fa; /* Couleur de fond de la carte */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Ombre de la carte */
}
.disc-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Ombre plus grande lors du survol */
}
.disc-card .row .col-md-4 {
    position: relative;
}
.disc-card .row .col-md-4::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
    z-index: 1;
}
.disc-card .row .col-md-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.disc-card .card-body {
    position: relative;
    z-index: 2;
    padding: 20px; /* Plus d'espacement à l'intérieur de la carte */
}
.disc-card .card-body .card-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #007BFF; /* Couleur du titre */
}
.disc-card .card-body .card-text {
    font-size: 1rem;
    margin-bottom: 10px; /* Plus d'espacement entre le texte et le bouton */
}
.disc-card .card-body .btn-primary {
    font-size: 1rem;
    padding: .375rem .75rem;
    margin-bottom: 10px; /* Ajoute une marge de 10px en bas du bouton */
}

/* ------------------------------------------------- */

/* Styling l'historique */
.history-card {
    background-color: #f8f9fa; 
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.history-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Styling des textes de l'historique */
.history-card .card-text {
    font-size: 14px;
    color: #343a40;
}

/* Styling des images de l'historique */
.history-card .card-img-top {
    border-radius: 15px;
    transition: transform 0.2s;
}

.history-card .card-img-top:hover {
    transform: scale(1.1);
}

/* Styling du titre de l'historique */
.history-card-title {
    color: #343a40;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px; /* Espace supplémentaire en dessous du titre */
}

.history-card-col {
    margin-bottom: 10px;
}
