.card-text {
    font-size: 14px;
}

.card-title {
    font-size: 18px;
}

.modal-dialog {
    margin-top: 200px;
}

.form-container {
    max-width: 400px; /* Réduis la taille maximale du formulaire */
    margin: auto;
    position: absolute;
    top: 50%; /* Centrage vertical */
    left: 50%; /* Centrage horizontal */
    transform: translate(-50%, -50%); /* Centrage fin */
}


/* styles.css */

/* Styling les cartes de disques */
.disc-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
}
.disc-card:hover {
    transform: scale(1.03);
}
.disc-card .row .col-md-4 {
    position: relative;
}
.disc-card .row .col-md-4::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
    z-index: 1;
}
.disc-card .row .col-md-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.disc-card .card-body {
    position: relative;
    z-index: 2;
}
.disc-card .card-body .card-title {
    font-size: 1.5rem;
    font-weight: 500;
}
.disc-card .card-body .card-text {
    font-size: 1rem;
}
.disc-card .card-body .btn-primary {
    font-size: 1rem;
    padding: .375rem .75rem;
    margin-bottom: 10px; /* Ajoute une marge de 10px en bas du bouton */
}
