/* Ajoutez les styles personnalisés pour votre formulaire de connexion */

/* Boutons */
.btn-primary,
.btn-outline-primary,
.btn-warning,
.btn-danger {
  background-color: #6e0a19;
  border-color: #6e0a19;
  transition: all 0.3s ease;
  color: #ffffff;
}

.btn-outline-primary {
  color: #ffffff;
}

.btn-primary:hover,
.btn-outline-primary:hover,
.btn-warning:hover,
.btn-danger:hover {
  background-color: #4b0711;
  border-color: #4b0711;
  color: #ffffff;
}

/* Cartes de disques */
.disc-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.disc-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.disc-card .row .col-md-4 {
  position: relative;
}

.disc-card .row .col-md-4::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  z-index: 1;
}

.disc-card .row .col-md-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.disc-card .card-body {
  position: relative;
  z-index: 2;
  padding: 20px;
}

.disc-card .card-body .card-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #6e0a19;
}

.disc-card .card-body .card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.disc-card .card-body .btn-primary {
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  margin-bottom: 10px;
}

/* Formulaires de connexion */
.form-container {
  max-width: 400px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-login {
  color: #6e0a19;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-login:hover {
  color: #dc3545;
}

.text-signup {
  color: #6e0a19;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-signup:hover {
  color: #dc3545;
}

/* Styles supplémentaires */

/* Navbar */
.navbar {
  background-color: #fafafa;
  border-bottom: 1px solid #6e0a19;
  font-family: Arial, sans-serif;
}

.title-bar {
  color: #6e0a19;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title-bar:hover {
  color: #dc3545;
}

/* Historique */
.history-title {
  color: #6e0a19;
  font-weight: bold;
}

.history-content {
  padding-top: 20px;
}

.history-content img {
  border-radius: 50%;
  max-width: 40px;
}

.history-content .card-text {
  font-size: 0.75rem;
  color: #343a40;
}

.history-content .fw-bold {
  color: #6e0a19;
}

.history-content .disc-title {
  font-size: 0.85rem;
  color: #6e0a19;
  font-weight: bold;
}

.history-content .artist-name {
  font-size: 0.75rem;
  color: #333;
}

/* Détails */
.title-disc {
  color: #6e0a19;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.edit-title {
  color: #6e0a19;
  letter-spacing: 1px;
  text-transform: uppercase;
}
